$test: black;
$textMain: #444444;

@mixin shadow() {
  -webkit-box-shadow: -1px 2px 11px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 2px 11px 3px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 2px 11px 3px rgba(34, 60, 80, 0.2);
}

@mixin flex() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-center($jc: center) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 7px;
    height: 0px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(207, 207, 207); /* color of the scroll thumb */
    border-radius: 3px; /*roundness of the scroll thumb */
    border: 3px solid transparent; /* creates padding around scroll thumb */
  }
}

@mixin border() {
  border-radius: 10px;
  border: 1px solid black;
}
