.account {
  width: fit-content;
  margin: 1vh auto 1.5vh;
  // Убрать
  padding: 57px 0 142px;

  position: relative;

  display: flex;
  align-items: center;

  .accountInfo {
    display: grid;
    grid-template-columns: 235px 370px;
    // расстоянгие между колонками
    column-gap: 25px;
    // между строками
    row-gap: 25px;
  }
}

//gap:100px;
// grid-template-rows: 250px;
//grid-auto-rows: 100px;
