.deleteAccount {
  left: 47.6%;
  bottom: 0;
  color: #747474;

  position: absolute;
  cursor: pointer;

  transform: translate(-50%, 0);
  transition: 0.105s all ease-in-out;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #747474;
  }
}
