@mixin scroll() {
  &::-webkit-scrollbar {
    width: 7px;
    height: 0px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(207, 207, 207, 0); /* color of the scroll thumb */
    border-radius: 3px; /*roundness of the scroll thumb */
    border: 3px solid transparent; /* creates padding around scroll thumb */
  }
}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-wrapper {
  height: 100%;
  width: 100%;
  margin: 5px 0;

  overflow: overlay;
  @include scroll();
  position: relative;

  align-items: center;
  border-radius: 5px;
  //border: 1px solid black;
}

.divChatIcon {
  width: 40px;
  height: 40px;
  bottom: 11px;
  right: 11px;

  position: absolute;
  cursor: pointer;
  @include flex();

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.711);
  transition: 0.15s all ease-in-out;

  &:hover {
    background: rgb(255, 255, 255);
  }

  .groupChatIcon {
    width: 25.5px;
  }
}
