// Font Variables
$roboto-slab: 'Saira Condensed', sans-serif;
$fontColor: rgb(232, 232, 232);

@mixin font() {
  font-family: $roboto-slab;
}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  margin: 0 auto;
  height: 200px;
  max-width: 2000px;

  position: relative;

  color: white;
  background-color: black;
  @include flex();

  li {
    list-style-type: none;
  }
  .logo {
    @include font();
  }

  .media ul {
    @include flex();
    width: 29px;

    & > *:not(:last-child) {
      margin-right: 11px;
    }
    li {
      cursor: pointer;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .logo {
    margin-top: -15px;
    font-size: 65px;
    font-weight: 700;

    @include flex();

    .nothingTodo {
      margin: auto;
      position: absolute;
      bottom: 10px;
      font-size: 17px;
      font-weight: 300;
      // top: 0; left: 0; bottom: 0; right: 0;

      @include font();
      color: rgba(255, 255, 255, 0.517);
      a {
        color: rgba(255, 255, 255, 0.517);
      }
    }
  }

  .footerMenu {
    @include font();
    li {
      cursor: pointer;
      padding: 0;
      width: fit-content;
      font-size: 17.9px;
      color: rgba(255, 255, 255, 0.917);

      transition: 0.15s all ease-in-out;
      border-bottom: 1px solid transparent;

      a {
        color: white;
        text-decoration: none;
      }
    }

    li:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.736);
    }
  }

  svg {
    // height: 35px;
    // width: 35px;
    path {
      fill: currentcolor;
    }
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    // flex-direction: column;
    justify-content: space-between;
    height: 186px;
    align-items: normal;

    .media {
      margin: 5vh 10vh 4vh 12vh;
      ul {
        & > *:not(:last-child) {
          margin-right: 1.7vh;
        }

        svg {
          width: 34px;
        }
      }
    }

    .logo {
      position: absolute;
      bottom: 0;
      right: 50%;
      .logoName {
        display: none;
      }

      .nothingTodo {
        // padding-bottom: 1vh;
        width: 40vh;
        line-height: 115%;
        text-align: center;
      }
    }

    .footerMenu {
      margin-top: 2.5vh;
      margin-right: 4vh;
      ul {
        display: flex;
        flex-direction: column;
        & > *:not(:last-child) {
          margin-right: 11px;
        }
        li {
          font-size: 20.5px;
        }
      }
    }

    svg {
      // height: 35px;
      // width: 35px;
      path {
        fill: currentcolor;
      }
    }
  }
}
