.account {
  width: fit-content;
  margin: 1vh auto 1.5vh;
  // Убрать
  padding: 57px 0 142px;

  position: relative;

  display: flex;
  align-items: center;

  .accountInfo {
    display: grid;
    grid-template-columns: 242.9px 370px;
    // расстоянгие между колонками
    column-gap: 25px;
    // между строками
    row-gap: 25px;
  }
}

@media only screen and (max-width: 800px) {
  .account {
    .accountInfo {
      grid-template-columns: 242.9px;
    }
  }
}
