@import '../../../../.././mix.scss';

.createGroupChat {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 8%);
  width: 80%;
  height: 85%;
  position: absolute;
  top: 0px;
  @include shadow();
  @include flex();

  background-color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .createGroupChat {
    left: 67%;
    width: 230px;
  }
}
